* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
nav {
  /* border:2px solid black; */
  height: 50px;
}
nav {
  width: 100vw;
  display: flex;
  position: fixed;
  top: 10px;
  z-index: 2000;
}
.logo {
  align-self: center;
  margin-left: 50px;
  font-size: 20px;
  color: white;
}
.navin {
  /* border:2px solid black; */
  width: 700px;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.navin ul {
  /* border: 2px solid gray; */
  width: 700px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  display: flex;
  font-size: 20px;
  font-weight: 400;
}
.color a:hover {
  color: rgb(224, 133, 14);
}
ul a {
  text-decoration: none;
  color: white;
}
.logo span {
  color: rgb(248, 105, 136);
}
@media screen and (max-width: 890px) {
  .navin {
    width: 500px;
  }
  .logo {
    margin-left: 10px;
  }
}
.menu div {
  border-radius: 2px;
  border: 1px solid rgb(184, 181, 181);
  width: 30px;
  /* color:black; */
  background-color: white;
  height: 10px;
}
.menu {
  display: none;
  margin-left: auto;
  margin-right: 30px;
  /* font-size:30px; */
  /* border:2px solid rgb(58, 58, 58); */
  border-radius: 5px;
  height: 34px;
  align-self: center;
}
.onscroll {
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: white;
  z-index: -1;
  height: 80px;
  transform: translateY(-90px);
}
@media screen and (max-width: 650px) {
  .navin {
    width: 400px;
  }
}
@media screen and (max-width: 550px) {
  .navin {
    display: none;
  }
  .menu {
    display: block;
    margin-right: 5px;
  }
  .logo {
    font-size: 13px;
  }
}
.banner {
  /* width:100%; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  /* border:2px solid black; */
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  /* height:200px; */
  max-width: 800px;
}
.content h2 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  font-size: 3em;
  font-weight: 800px;
  margin: 5px;
}
.content p {
  font-size: 1.2em;
  font-weight: 100px;
  color: white;
  margin: 5px;
}
p span {
  text-align: center;
}
.select {
  align-self: center;
  width: 180px;
  background-color: rgb(248, 105, 136);
  margin: 5px;
}
.select {
  text-decoration: none;
  font-size: 2em;
  display: inline-block;
  text-align: center;
  color: white;
  padding: 2px;
  transition: 0.4sec;
}
.select:hover {
  letter-spacing: 0.1em;
  padding: 2px 8px;
}
@media screen and (max-width: 600px) {
  .content h2 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 400px) {
  .content h2 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 200px) {
  .select {
    font-size: 1em;
    padding: 3px 3px;
    width: 100px;
  }
  .content p {
    font-size: 1em;
  }
  .content h2 {
    font-size: 1em;
  }
}
/* aside{
    position:absolute;
    top:50px;
    left:0px;
    width:200px;
    height:300px;
    color: white;
    background-color: violet;
    z-index:50;
    display:flex;
    flex-direction:row;
    transform:translateX(-200px);
    display:none;
} */
.sidebar {
  position: fixed;
  top: 90px;
  left: 0px;
  width: 200px;
  height: 300px;
  border: 2px solid white;
  display: flex;
  background-color: violet;
  z-index: 50;
  transform: translateX(-200px);
}
.sidebar ul {
  /* border: 2px solid gray; */
  width: 150px;
  height: 250px;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  /* justify-content:space-around; */
  font-size: 20px;
  font-weight: 400px;
  /* position: relative; */
}
aside ul li {
  margin: 10px 0px;
}
.navlogo {
  /* border: 2px solid black; */
  /* background-color: rgb(37, 34, 34); */
  margin-top: 2px;
  margin-right: 2px;
  height: 34px;
  width: 35px;
  border: 2px solid white;
  border-radius: 2px;
}
.navlogo:hover {
  border: 2px solid rgb(240, 197, 6);
}
@media screen and (max-width: 550px) {
  aside {
    display: block;
    /* transition:2.30s;
        transform:translateX(0px); */
  }
}
@media screen and (max-width: 300px) {
  aside {
    width: 150px;
  }
  .sidebar {
    width: 150px;
  }
  aside ul {
    width: 100px;
  }
}
@media screen and (max-width: 300px) {
  aside {
    width: 110px;
  }
}
.about {
  display: flex;
  /* height:60vh; */
  /* border:2px solid blueviolet; */
  /* padding:20px 0px; */
  /* align-items: center; */
}
.aboutus {
  /* border:2px solid black; */
  width: 40vw;
  padding: 30px 5px;
  /* height:50vh; */
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
  justify-content: flex-start;
  /* align-items: center; */
}
.aboutus h2 {
  color: rgb(243, 133, 54);
  margin: 20px 15px;
  font-size: 40px;
  font-weight: 500px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.aboutus span {
  color: rgb(245, 110, 227);
}
.aboutus p {
  margin: 20px 0px;
  font-size: 30px;
  font-family: sans-serif;
}
.image {
  width: 60vw;
  height: 50vh;
  margin: 50px 0px;
}
.image img {
  height: 550px;
  width: 100%;
  background-size: cover;
  /* object-fit: cover; */
}
@media screen and (max-width: 700px) {
  .aboutus {
    width: 100%;
  }
  /* .aboutus h2{
        font-size:1.5em;
    } */
  .image {
    display: none;
  }
}
@media screen and (max-width: 200px) {
  .aboutus h2 {
    font-size: 1.5em;
  }
  .aboutus p {
    font-size: 15px;
  }
}
.menusec {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  /* border:2px solid black; */
  background-color: rgb(255, 253, 253);
}
.maneu {
  margin: 50px 0px;
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  /* border:2px solid rgb(14, 12, 11); */
  align-items: center;
}
.maneu h2 {
  margin: 10px 0px;
  font-size: 3em;
  color: rgb(243, 149, 27);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
.maneu span {
  color: rgb(248, 105, 136);
}
.maneu p {
  font-size: 1.2em;
  font-weight: 100px;
  margin-bottom: 5px;
  text-justify: distribute;
}
.dishes {
  /* border:2px solid rgb(218, 151, 151); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0px;
}
.dish {
  border: 1px solid whitesmoke;
  border-radius: 3px;
  margin: 5px 10px;
  padding: 30px 10px;
  background-color: whitesmoke;
}
.dish h2 {
  margin-top: 3px;
  margin-left: 10px;
  font-family: sans-serif;
  font-weight: lighter;
}
.button {
  margin-top: 20px;
  margin-bottom: 20px;
}
.button a {
  text-decoration: none;
  font-size: 30px;
  padding: 5px 15px;
  color: rgb(240, 108, 130);
  background-color: rgb(250, 225, 250);
}
@media screen and (max-width: 350px) {
  .dish img {
    height: 200px;
    width: 200px;
  }
  .maneu h2 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 250px) {
  .dish img {
    height: 150px;
    width: 150px;
  }
  .maneu h2 {
    font-size: 2em;
  }
  .dish h2 {
    font-size: 1em;
  }
}
@media screen and (max-width: 200px) {
  .dish img {
    height: 125px;
    width: 125px;
  }
  .maneu h2 {
    font-size: 2.2em;
  }
  .maneu h2 {
    font-size: 1.5em;
  }
  .dish h2 {
    font-size: 0.75em;
  }
}
.testimonialsec {
  display: flex;
  flex-direction: column;
  /* align-items:center; */
  margin-top: 0px;
  background-color: rgb(255, 255, 255);
  /* border: 2px solid black; */
  padding-bottom: 100px;
}
.testmenu {
  margin: 50px 0px;
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  /* border:2px solid rgb(122, 226, 53); */
  align-items: center;
}
.testmenu h2 {
  margin: 10px 0px;
  font-size: 3em;
  color: rgb(243, 149, 27);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
.testmenu span {
  color: rgb(248, 105, 136);
}
.testmenu p {
  font-size: 1.2em;
  font-weight: 100px;
  margin-bottom: 5px;
  text-justify: distribute;
}
.testimony {
  /* border:2px solid rgb(218, 151, 151); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0px;
}
.tes {
  border: 1px solid whitesmoke;
  border-radius: 3px;
  margin: 5px 8px;
  padding: 30px 10px;
  background-color: whitesmoke;
}
.tes h2 {
  margin-top: 3px;
  margin-left: 10px;
  font-family: sans-serif;
  font-weight: lighter;
}
@media screen and (max-width: 1200px) {
  .tes {
    margin: 5px 60px;
  }
}
@media screen and (max-width: 200px) {
  .testmenu h2 {
    font-size: 0.85em;
  }
  .tes {
    margin: 5px 5px;
  }
  .tes img {
    height: 125px;
    width: 125px;
  }
}
.expert {
  background-image: url("images/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
.review {
  padding-top: 20px;
  /* border:2px solid orangered; */
}
.revmenu {
  color: white;
  /* border: 2px solid green;*/
}
.revmenu h2 {
  color: white;
}
.rev {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 8px;
  /* border:2px solid black; */
}
.rev img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.rev div {
  margin: 5px 0px;
  width: 300px;
}
.rev img {
  margin: 20px 0px;
}
.rev p {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.25em;
  font-style: italic;
  color: grey;
}
.rev h2 {
  margin: 0px;
  color: hotpink;
  font-weight: bold;
  font-family: cursive;
  margin: 5px 0px;
}
@media screen and (max-width: 500px) {
  .revmenu h2 {
    font-size: 1.7em;
  }
  .rev div {
    width: 250px;
  }
}
@media screen and (max-width: 300px) {
  .revmenu h2 {
    font-size: 1em;
  }
  .rev div {
    width: 150px;
  }
}
@media screen and (max-width: 200px) {
  .revmenu h2 {
    font-size: 1em;
  }
  .rev div {
    width: 120px;
  }
}
.contact {
  height: 120vh;
  background-color: rgb(206, 204, 204);
  margin: 0px;
  background-image: url("images/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0px 30px;
  /* border:2px solid gray; */
  /* -webkit-background-clip: border-box; */
}

.form {
  width: 400px;
  height: 300px;
  border: 2px solid black;
  position: absolute;
  top: 320px;
  left: 170px;
  padding: 0px 10px;
  border: 5px solid gainsboro;
  border-radius: 3px;
}
.form h2 {
  font-family: cursive;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 10px;
  color: rgb(109, 108, 108);
}
.form [type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
}
.form [type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
}
.form [type] {
  border: 2px solid rgb(170, 165, 165);
  border-radius: 3px;
}
.form [type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  font-size: 20px;
  background-color: rgb(241, 96, 152);
  border: 2px solid rgb(242, 97, 151);
  color: white;
}
.form [type="submit"]:hover {
  cursor: pointer;
}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-top: 1px solid rgb(161, 159, 159);
  font-size: 15px;
  font-family: sans-serif;
}
.foot span {
  color: rgb(241, 96, 152);
}
@media screen and (max-width: 700px) {
  .form {
    left: 100px;
  }
}
@media screen and (max-width: 500px) {
  .form {
    left: 50px;
  }
  .form {
    width: 75%;
  }
}
@media screen and (max-width: 400px) {
  .cont h2 {
    font-size: 2em;
  }
  .form {
    left: 30px;
  }
  .form h2 {
    font-size: 1em;
  }
  .form {
    width: 75%;
  }
}
@media screen and (max-width: 300px) {
  .cont h2 {
    font-size: 1.5em;
  }
  .foot {
    font-size: 8px;
  }
}
@media screen and (max-width: 200px) {
  .cont h2 {
    font-size: 1em;
  }
  .form {
    left: 20px;
  }
  .form h2 {
    margin-left: 2px;
    font-size: 0.75em;
  }
}
